<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar fotos</title>
    <%- include("../partials/head.ejs"); %>
</head>
<body>
    <div class="photoContainer">

    </div>
    <script src="./ejs.js"></script>
    <script>
        const photoEndpoint = "/api/photos";

        const getPhotos = async () => {
            const photos = await fetch(photoEndpoint);
            const templateData = await template.text();
            return templateData;
        }
        const container = document.querySelector('.photoContainer')

        // const getPhotos = async () => {
        //     fetch(photoEndpoint)
        //     .then(response => response.json())
        //     .then(data => {
        //         container.innerHTML = data;
        //         return data
        //     })
        // }

        await getPhotos()
    </script>
    <script src="./main.js"></script>
</body>
</html>